-Always question yourself

    - How can we do vector operations
    
    - How can we do matrix operations
    
    - How can we do Linear algebra operations
    
    - Then the answer is Numpy
    
- In Numpy elemennts represent in arrays
- 
- Every array has dimension which means its an axis

In [3]:
import numpy as np
l1=[10,20,30,40]
arr1=np.array(l1)
arr1

array([10, 20, 30, 40])

In [5]:
type(arr1)

numpy.ndarray

- numpy n dimensional array (numpy. ndarray)

In [8]:
arr1.ndim
# ndim indicates how many dimensions are present

1

In [10]:
arr1.shape #rows,

(4,)

In [12]:
arr1.size # how many elements

4

In [16]:
import numpy as np
l1=[10,20,30,40]
arr1=np.array(l1)
print(arr1)
print(arr1.ndim) # axis
print(arr1.shape)
print(arr1.size)

[10 20 30 40]
1
(4,)
4

In [20]:
import numpy as np
l1=[10,20,30,40]
l2=[1,2,3,4]
# 2d means 2 lists
# l1,l2 : [l1,l2]
np.array(l1,l2) # error (l1,l2 is not combined - it should be [l1,l2]-->(x,y)

TypeError: Field elements must be 2- or 3-tuples, got '1'

In [26]:
import numpy as np
l1=[10,20,30,40]
l2=[1,2,3,4]
# 2d means 2 lists
# l1,l2 : [l1,l2]
arr2d=np.array([l1,l2]) # error (l1,l2 is not combined
arr2d

array([[10, 20, 30, 40],
       [ 1,  2,  3,  4]])

In [28]:
arr2d.ndim

2

In [30]:
arr2d.shape

(2, 4)

In [32]:
arr2d.size

8

In [40]:
import numpy as np
l1=[10,20,30,40]
l2=[1,2,3,4]
# 2d means 2 lists
# l1,l2 : [l1,l2]
arr3d=np.array([[l1,l2]]) #- now extra sqr brackets that means 3dimensiion
arr3d

array([[[10, 20, 30, 40],
        [ 1,  2,  3,  4]]])

In [42]:
print(arr3d.ndim)
print(arr3d.shape)
print(arr3d.size)

3
(1, 2, 4)
8

dim     shape
1        m,
2        m,n
3        l,m,n

In [ ]:
np.array([1,2,3])  # 3,
np.array([[1,2,3]])  # 2,4
np.array([[[1,2,3]]]) #  1,2,4

In [ ]:
l,m,n : 2,2,4
- n indicates how many elements we have in a list
- n=4 means list has 4 elements : [10,20,30,40]
- m indiactes how many lists are available
- m=2 means 2 lists are available
- each list has 4 vaues
-one list name is :l1
- another list is :l2
- m:[l1,l2]

- l indicates how many m's that is how many combination of m's are avaiiable
- l=2 means there are 2 m's available 
- m: [l1,l2]
l= [[l1,l2],[l1,l2]]

In [45]:
import numpy as np
l1=[10,20,30,40]
l2=[20,30,40,50]
arr1 = np.array([l1,l2]) # shape  gives , n=4, m= 2(l1,l2), l=1 m
print(arr1)
print(arr1.shape)

[[10 20 30 40]
 [20 30 40 50]]
(2, 4)

In [47]:
import numpy as np
l1=[10,20,30,40]
l2=[20,30,40,50]
arr1 = np.array([[l1,l2]]) # shape  gives , n=4, m= 2(l1,l2), l=1 m
print(arr1)
print(arr1.shape)

[[[10 20 30 40]
  [20 30 40 50]]]
(1, 2, 4)

In [49]:
import numpy as np
l1=[10,20,30,40]
l2=[20,30,40,50]
arr1 = np.array([[l1,l2],[l1,l2]]) # shape  gives , n=4, m= 2(l1,l2), l=2 m
print(arr1)
print(arr1.shape)

[[[10 20 30 40]
  [20 30 40 50]]

 [[10 20 30 40]
  [20 30 40 50]]]
(2, 2, 4)

In [51]:
import numpy as np
l1=[10,20,30,40]
l2=[20,30,40,50]
arr1 = np.array([[l1,l2],[l1,l2],[l1,l2]]) # shape  gives , n=4, m= 2(l1,l2), l=3 m
print(arr1)
print(arr1.shape)

[[[10 20 30 40]
  [20 30 40 50]]

 [[10 20 30 40]
  [20 30 40 50]]

 [[10 20 30 40]
  [20 30 40 50]]]
(3, 2, 4)

In [55]:
import numpy as np
l1=[10,20,30,40]
l2=[20,30,40,50]
arr1 = np.array([[[l1,l2],[l1,l2],[l1,l2]],[[l1,l2],[l1,l2],[l1,l2]],[[l1,l2],[l1,l2],[l1,l2]],[[l1,l2],[l1,l2],[l1,l2]]]) # shape  gives , n=4, m= 2(l1,l2), l=3 m , k-4
print(arr1)
print(arr1.shape)

[[[[10 20 30 40]
   [20 30 40 50]]

  [[10 20 30 40]
   [20 30 40 50]]

  [[10 20 30 40]
   [20 30 40 50]]]


 [[[10 20 30 40]
   [20 30 40 50]]

  [[10 20 30 40]
   [20 30 40 50]]

  [[10 20 30 40]
   [20 30 40 50]]]


 [[[10 20 30 40]
   [20 30 40 50]]

  [[10 20 30 40]
   [20 30 40 50]]

  [[10 20 30 40]
   [20 30 40 50]]]


 [[[10 20 30 40]
   [20 30 40 50]]

  [[10 20 30 40]
   [20 30 40 50]]

  [[10 20 30 40]
   [20 30 40 50]]]]
(4, 3, 2, 4)

In [61]:
import numpy as np
l1=[10,20,30,40]
l2=[20,30,40,50]
arr1 = np.array([[[[l1,l2],[l1,l2],[l1,l2]],[[l1,l2],[l1,l2],[l1,l2]],[[l1,l2],[l1,l2],[l1,l2]],[[l1,l2],[l1,l2],[l1,l2]]],[[[l1,l2],[l1,l2],[l1,l2]],[[l1,l2],[l1,l2],[l1,l2]],[[l1,l2],[l1,l2],[l1,l2]],[[l1,l2],[l1,l2],[l1,l2]]],[[[l1,l2],[l1,l2],[l1,l2]],[[l1,l2],[l1,l2],[l1,l2]],[[l1,l2],[l1,l2],[l1,l2]],[[l1,l2],[l1,l2],[l1,l2]]],[[[l1,l2],[l1,l2],[l1,l2]],[[l1,l2],[l1,l2],[l1,l2]],[[l1,l2],[l1,l2],[l1,l2]],[[l1,l2],[l1,l2],[l1,l2]]],[[[l1,l2],[l1,l2],[l1,l2]],[[l1,l2],[l1,l2],[l1,l2]],[[l1,l2],[l1,l2],[l1,l2]],[[l1,l2],[l1,l2],[l1,l2]]]]) # shape  gives , n=4, m= 2(l1,l2), l=1 m,k-4, j-5 
print(arr1)
print(arr1.shape)

[[[[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]


  [[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]


  [[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]


  [[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]]



 [[[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]


  [[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]


  [[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]


  [[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]]



 [[[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]


  [[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]


  [[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]


  [[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]]



 [[[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]


  [[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]


  [[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]


  [[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]]



 [[[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]


  [[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]


  [[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]


  [[[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]

   [[10 20 30 40]
    [20 30 40 50]]]]]
(5, 4, 3, 2, 4)

In [63]:
import numpy as np
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [65]:
shape=(3,3)
np.zeros(shape)

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [67]:
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [71]:
np.ones((3,3)) # shape =(3,3)

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [77]:
arr1 = np.eye(3) # identity matrix, no shape here, but just give int N--> here 3
arr1

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [79]:
arr1.flatten()

array([1., 0., 0., 0., 1., 0., 0., 0., 1.])

In [81]:
arr1.flatten().tolist()

[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]

In [83]:
arr1= np.eye(3)
arr1.transpose()

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
zeros - only zeros

eye - Identity

what if i want random integer numbers

In [1]:
import random
random.randint(10,20) # 10 to 20

19

In [3]:
import numpy as np
np.random.randint(10) # 0 to 9

6

In [5]:
np.random.randint(10,50)  # 10 to 49

14

In [7]:
np.random.randint(10,50,size=5)

array([13, 26, 22, 24, 11])

In [9]:
shape=(2,3)
np.random.randint(10,50,size=shape)

array([[26, 30, 14],
       [27, 46, 22]])

- when we develop ML models we use some data for training and some data for testing

- Also we will use multiple models for training and testing

- Out of these models which model gives best results that we selected

- So we need every model should test on same data

- this we can achieve by **np.random.seed()**

In [14]:
np.random.seed(42)
np.random.randint(10,50,size=5)

array([29, 48, 22, 34, 25])

<img id="dimg_kH9TaPWuBZ-PseMPtLqjmAM_305" src="" class="YQ4gaf" height="154" style="object-position:50% 66%" width="328" alt="Mean, Variance and Standard Deviation ..." data-csiid="kH9TaPWuBZ-PseMPtLqjmAM_13" data-atf="8">